
        body{
            text-align: center;
            background-color: cyan;
        }
        #inpt{
            padding: 5px;
            border: 2px solid black;
            border-radius: 8px;
        }
        button{
            padding: 5px;
            background-color: blue;
            color: beige;
            border-radius: 5px;
            border: 1px;
        }
        h1{
            margin-top: 70px;
        }
        .para{
           border: 1.5px solid black;
           margin: 20px auto;
           font-size: 1.2em;
           width: 400px;
           border-radius: 5px;
           padding: 20px;
           position: relative;
        
        }
        .clk{
           background-color: red;
           color: white;
           border: none;
           width: 25px;
           height: 25px;
           position: absolute;
           top: 1px;
           right: 4.5px;
           
        }
     